/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
background-color: white;
margin: 0 auto;
}

.logo-header {
margin: 10px;
}

h1 {
    display: inline;
    vertical-align: 0.5em;
    font-size: 3rem;
    padding: 10px;
}

body {
    background-color: rgba(128, 128, 128, 0.227);
    height: 10px;
}

main {
    background-color: white;
    padding-left: 50px;
    padding-top: 10px;
     margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    height: 1000px;
}

.add-task-button {
    color: white;
    background-color: rgb(27, 154, 245);
    border-radius: 5px;
    border-color: rgb(27, 154, 245);
    padding: 5px;
}

.add-section-button {
    color: grey;
    background-color: white;
    border-radius: 5px;
    border-color: grey;
    padding: 5px;
}

.bottoni {
margin-bottom: 5px;
}

ul {
    list-style-type: none;
    border-top: 3px solid rgba(128, 128, 128, 0.227);
    line-height: 1.5em;
}

h3 {
    margin-top: 30px;
}


/*Lables*/

label {
color: white;
font-size: 8px;
border-radius: 10px;
padding: 6px; 
}

.editorial-lable {
color: white;
font-size: 8px;
background-color: rgb(75, 175, 225);
border-radius: 10px;
padding: 6px;
}

.q1-goals-lable {
background-color: rgb(166, 99, 229);
}

.recruiting-lable {
background-color: rgb(109, 196, 173);
}

.mobile-lable {
background-color: rgb(211, 146, 25);
}

.website-lable {
background-color: rgb(225, 75, 157);
}

.sales-lable {
background-color: rgb(150, 225, 75);
}
