/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
background-color: white;
margin: 0 auto;
}

.logo-header {
margin: 10px;
}

h1 {
    display: inline;
    vertical-align: 0.5em;
    font-size: 3rem;
    padding: 10px;
}

body {
    background-color: rgba(128, 128, 128, 0.227);
    height: 10px;
}

main {
    background-color: white;
    padding-left: 50px;
    padding-top: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    height: 1000px;
}

.add-task-button {
    color: white;
    background-color: rgb(27, 154, 245);
    border-radius: 5px;
    border-color: rgb(27, 154, 245);
    padding: 5px;
}

.add-section-button {
    color: grey;
    background-color: white;
    border-radius: 5px;
    border-color: grey;
    padding: 5px;
}