/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(128, 128, 128, 0.227);
}


/* Header */
header {
    background-color: white;
    margin-bottom: 30px;
}

.logo-header {
    margin: 10px;
}

h1 {
    display: inline;
    vertical-align: 0.5em;
    font-size: 3rem;
    padding: 10px;
}

/* Bottoni */
.add-task-button {
    color: white;
    background-color: rgb(27, 154, 245);
    border-color: rgb(27, 154, 245);
    padding: 5px;
}

.add-section-button {
    color: grey;
    background-color: white;
    border-radius: 5px;
    border-color: grey;
    padding: 5px;
}

/* Sezioni */
.sezione-bottoni {
    padding: 10px 40px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.227);
}

.sezione-lista {
    padding: 20px 20px;
}

.sezione-bottoni, .sezione-lista {
    margin: 0px 300px;
    border-radius: 10px;
    background-color: white;
}


/* Lista */
ul {
    list-style-type: none;
    line-height: 1.5em;
}

h3 {
    margin-top: 30px;
}

/*Lables*/

label {
    color: white;
    font-size: 8px;
    border-radius: 10px;
    padding: 6px;
}

.editorial-lable {
    color: white;
    font-size: 8px;
    background-color: rgb(75, 175, 225);
    border-radius: 10px;
    padding: 6px;
}

.q1-goals-lable {
    background-color: rgb(166, 99, 229);
}

.recruiting-lable {
    background-color: rgb(109, 196, 173);
}

.mobile-lable {
    background-color: rgb(211, 146, 25);
}

.website-lable {
    background-color: rgb(225, 75, 157);
}

.sales-lable {
    background-color: rgb(150, 225, 75);
}

.label-simbol {
    font-size: 10px;
    text-align: center;
    color: green;
    border-radius: 100%;
    border: 1px solid green;
    height: 15px;
    width: 15px;
    line-height: 15px;
    display: inline-block;
}