/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: rgba(128, 128, 128, 0.227);
}

/* Header */
header {
    background-color: white;
    margin-bottom: 30px;
}

.logo-header {
    margin: 10px;
}

h1 {
    display: inline;
    vertical-align: 0.5em;
    font-size: 3rem;
    padding: 10px;
}

/* Bottoni */
.add-task-button {
    color: white;
    background-color: rgb(27, 154, 245);
    border-radius: 5px;
    border-color: rgb(27, 154, 245);
    padding: 5px;
}

.add-section-button {
    color: rgba(128, 128, 128, 0.362);
    background-color: white;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.362);
    padding: 5px;
}

/* Sezioni */

.sezione-bottoni {
    padding: 10px 40px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.227);
}

.sezione-lista {
    padding: 10px 40px;
}

.sezione-bottoni,
.sezione-lista {
    margin: 0px 300px;
    background-color: white;
}


/* Lista */
ul {
    list-style-type: none;
    line-height: 2em;
}

h3 {
    margin-top: 20px;
}

/*Lables*/

label {
    color: white;
    font-size: 8px;
    border-radius: 10px;
    padding: 6px;
}

.editorial-lable {
    color: white;
    font-size: 8px;
    background-color: rgb(75, 175, 225);
    border-radius: 10px;
    padding: 6px;
}

.q1-goals-lable {
    background-color: rgba(179, 113, 240, 0.952);
}

.recruiting-lable {
    background-color: rgb(109, 196, 173);
}

.mobile-lable {
    background-color: rgb(226, 159, 33);
}

.website-lable {
    background-color: rgba(225, 75, 157, 0.845);
}

.sales-lable {
    background-color: rgba(150, 225, 75, 0.835);
}

.label-check,
.label-cross {
    font-size: 10px;
    text-align: center;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    display: inline-block;
}

.label-check {
    color: green;
    border: 1px solid green;
}

.label-cross {
    color: red;
    border: 1px solid red;
}